<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.ui.chatbox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/body.css') }}">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="{{ static_url('js/index.js') }}"></script>
    <script src="{{ static_url('js/jquery.ui.chatbox.js') }}"></script>

    <script>
        var socket = new WebSocket('ws://' + location.host + '/chat');

        function sendAction(img_path, msg) {

            var message = {
                img_path: img_path,
                message: msg
            };

            socket.send(JSON.stringify(message));
        }

        socket.onopen = function(data) {
        }

        socket.onclose = function() {
        }

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            if ('messages' in data) {
                var messages = data.messages;
                for (var i=0; i<messages.length; i++) {
                    $("#chat_div").chatbox("option", "boxManager").addMsg(messages[i].img_path, messages[i].message, false);
                }
            } else {
                $("#chat_div").chatbox("option", "boxManager").addMsg(data.img_path, data.message, false);
            }
        }

        $(document).ready(function() {

          var content_off = $("#content").offset();
          var content_width = $("#content").width();
 var content_height = $("#content").height();
            $("#chat_div").chatbox(
                {id : "chat_div",
                 title : " ",
                 user : "hoge",

                 offset: content_off.left,
                 width: content_width-5,
                 messageSent: function(id, user, msg){
                     var img_path = $('#face').attr('src');
                     this.boxManager.addMsg(img_path, msg, true);
                     sendAction(img_path, msg);
            }});
// var offset = $("#content").chatbox("option", "offset");



            //
            // $("#chat_div").offset({ top: content_off.top, left: content_off.left });
$("#chat_div").width(content_width-5);
 $("#chat_div").height(content_height-2);
          //  $("#chat_div").chatbox(offset, content_off-5, 500);
        });

    </script>
</head>

<body>

  <!-- コンテナ開始 -->
<div id="container">


<!-- ヘッダ開始 -->
<div id="header">
  <P><FONT size="5">メッセージアプリケーション</FONT></P>
Your are log in as {{user_name}}.<br>
</div>
<!-- ヘッダ終了 -->

<!-- ナビゲーション開始 -->
<div id="nav">

<p><a href="tmp.html">設定</a></p>
<p>user<br>
<form name="test">
<select size="10" name="user" onChange="redirect_user_mag()">
{% for user in user_list %}
<option value="./chat?request_user={{user[0]}}">{{user[0]}}</option>
{% end %}
</select>
</form></p>
<p>groupe<br>
<select size="10" name="groupe">
{% for group in group_list %}
<option value={{group[0]}}>{{group[0]}}</option>
{% end %}
</select></p>
</div>
<!-- ナビゲーション終了 -->

<!-- メインカラム開始 -->
<div id="content">

<img src="{{ img_path }}" id="face" style="visibility:hidden">
<div id="chat_div" class="chat"></div>


</div>
<!-- メインカラム終了 -->

<!-- フッタ開始 -->
<div id="footer">
<a href=/auth/logout>Logout</a></div>

<!-- フッタ終了 -->


</div>
<!-- コンテナ終了 -->


</body>
</html>
