<html>
<body>

<h2>Setting window</h2>
<li>Group create</li>
  <ul>
  <input type="checkbox" name="menber" value="1">bot
  <br><input type="checkbox" name="menber" value="2">konishi
  <br><input type="checkbox" name="menber" value="3">shirasawa
  <br><input type="checkbox" name="menber" value="4">shigematu
  <br><input type="checkbox" name="menber" value="5">tanaka
  <br>
  Group name:<input type="text" name="name" size="15" maxlength="20">
  <br>

  <input name="group_create" type="button" value="Create" onClick="window.open('settings','','scrollbars=yes,width=250,height=100,');">

  <br><br>
  </ul>
<li>template create</li>
 <ul>
   template:
   <form>
     <textarea name="template_message" rows="3" cols="50" wrap="hard">
     </textarea>
   </form>
 </ul>
</body>
</html>
